@import "styles/utils/utils.module";

.swap{
  :global{
    .section{
      padding-bottom: 70px;
      width: 100%;
      @include display-flex();
      .sec-wrapper{
        @include maxWidth;
        .titles{
          @include display-flex($justifyContent: space-between);
        }
      }
    }
    .content-box{
      @include maxWidth;
      @include content-box;
      display: grid;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
      grid-template-columns: 1fr 52px 1fr;
      grid-column-gap: 45px;
      grid-row-gap: 60px;
      @include maxmq('xxl'){
        grid-column-gap: 20px;
      }
      @media (max-width: 1100px) {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
      }
      &-container{
        background: #000B11;
        border-radius: 20px;
        padding: 18px 25px;
        width: 100%;
        @include display-flex($flexDirection: column);
        row-gap: 30px;
        .content-box-top{
          width: 100%;
          @include display-flex($justifyContent: space-between);
          column-gap: 10px;
          @media (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
            column-gap: 0;
            row-gap: 20px;
            .content-box-number{
              width: 100%;
            }
            .content-box-select{
              width: 100% !important;
            }
          }
          .content-box-select{
            width: 45%;
          }
        }
        .content-box-bottom{
          width: 100%;
          @include display-flex($justifyContent: flex-end);
          text-transform: capitalize;
        }
      }
      .content-box-btn{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        @include display-flex();
        @media (max-width: 1100px) {
          grid-column-start: 1;
          grid-column-end: 1;
        }
        .swap-btn{
          @include btn($minWidth: 310px, $maxWidth: 30%, $height: 55px);
          background: $clr-main2;
          border: none;
          border-radius: 20px;
          color: $clr-main;
        }
        .swap-btn-2{
          @include btn($minWidth: 310px, $maxWidth: 30%, $height: 55px);
          padding: 5px 10px;
          background: $clr-main2;
          border: none;
          border-radius: 20px;
          color: $clr-main;
        }
      }
      &-left{
        .content-box-select{

          width: 45%;
        }
      }
      &-mid{
        margin-top: 20px;
        background: #000B11;
        border-radius: 8px;
        height: 52px;
        @include display-flex();
        @media (max-width: 1100px) {
          width: 52px;
          justify-self: center;
        }

      }
      &-right{
        .content-box-top{
          @media (max-width: 600px) {
            display: grid !important;
            grid-template-columns: 1fr;
            .content-box-number{
              grid-row-start: 1;
              grid-row-end: 2;
            }
          }
        }
      }
    }
  }
}
