@import "variables.module";
@mixin display-flex ($justifyContent: center, $alignItems: center, $flexDirection: row) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin btn($minWidth: 145px, $maxWidth: 175px, $height: 55px){
  padding: 15px 10px;
  height: $height;
  width: 100%;
  max-width: $maxWidth;
  min-width: $minWidth;
  font: normal normal 600 16px/1.5 'Poppins', sans-serif;
  text-align: center;
  text-transform: capitalize;
  p{
    margin: 0;
  }
}
@mixin maxWidth{
  width: 100%;
  max-width: $max-width;
}

@mixin content-box{
  background: #0A0F1B;
  border: 0.7px solid rgba(255, 255, 255, 0.2);
  box-shadow: -8px 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
